@import "tailwindcss";
/* Width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(148, 163, 184, 0.35);
  border-radius: 999px;
  cursor: pointer;
}

/* Hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(148, 163, 184, 0.5);
}